Project-Trunk/REST-clients/REST-assembler/src/nodered.flow/light.monitor.micro-custom.json
[
	{
		"id": "169898af.f627d7",
		"type": "http request",
		"z": "a56ab079.b9f47",
		"name": "read ambient light",
		"method": "GET",
		"ret": "obj",
		"url": "http://192.168.42.31:9999/light/ambient",
		"tls": "",
		"x": 240,
		"y": 160,
		"wires": [
			[
				"8cdefcfc.d80bf",
				"2cc1612a.d6ab5e"
			]
		]
	},
	{
		"id": "8cdefcfc.d80bf",
		"type": "debug",
		"z": "a56ab079.b9f47",
		"name": "Display Ambient Light",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 500,
		"y": 160,
		"wires": []
	},
	{
		"id": "351e775f.7b9d98",
		"type": "inject",
		"z": "a56ab079.b9f47",
		"name": "Loop on request",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "5",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 150,
		"y": 40,
		"wires": [
			[
				"169898af.f627d7"
			]
		]
	},
	{
		"id": "2cc1612a.d6ab5e",
		"type": "function",
		"z": "a56ab079.b9f47",
		"name": "evaluate light",
		"func": "// console.log(\"Msg:\", msg);\n\nlet output = {};\noutput.payload = {};\nif (msg.payload !== undefined) {\n    if (msg.payload.percent < 60) {\n      output.payload.status = true;    \n    } else {\n      output.payload.status = false;    \n    }\n}\n\noutput.headers = {};\noutput.headers['Content-Type'] = 'application/json';\n\nreturn output;",
		"outputs": 1,
		"noerr": 0,
		"x": 310,
		"y": 280,
		"wires": [
			[
				"76a03adf.87a054"
			]
		],
		"inputLabels": [
			"humidity"
		],
		"outputLabels": [
			"pumpStatus"
		]
	},
	{
		"id": "76a03adf.87a054",
		"type": "http request",
		"z": "a56ab079.b9f47",
		"name": "set relay status",
		"method": "POST",
		"ret": "obj",
		"url": "http://192.168.42.31:9999/relay/status/1",
		"tls": "",
		"x": 440,
		"y": 400,
		"wires": [
			[
				"b33591d2.f6988"
			]
		]
	},
	{
		"id": "b33591d2.f6988",
		"type": "debug",
		"z": "a56ab079.b9f47",
		"name": "display relay status",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 570,
		"y": 500,
		"wires": []
	}
]
