Monitor-Battery/nodered.flow.json
[
  {
    "id": "a0637e3.d1da98",
    "type": "mqtt in",
    "z": "6e07ef9b.66058",
    "name": "Adafruit-IO MQTT",
    "topic": "olivierld/feeds/battery-pi",
    "qos": "2",
    "broker": "f907d6d5.a9db58",
    "x": 172.5,
    "y": 193,
    "wires": [
      [
        "a0d3a84e.470cb8",
        "7049b057.69029"
      ]
    ]
  },
  {
    "id": "a0d3a84e.470cb8",
    "type": "debug",
    "z": "6e07ef9b.66058",
    "name": "MQTT Stream",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 408.5,
    "y": 130,
    "wires": []
  },
  {
    "id": "7049b057.69029",
    "type": "websocket out",
    "z": "6e07ef9b.66058",
    "name": "WebSocket Writer",
    "server": "",
    "client": "25a12e54.29d472",
    "x": 445.5,
    "y": 280,
    "wires": []
  },
  {
    "id": "f907d6d5.a9db58",
    "type": "mqtt-broker",
    "z": "",
    "broker": "io.adafruit.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  },
  {
    "id": "25a12e54.29d472",
    "type": "websocket-client",
    "z": "",
    "path": "ws://localhost:9876",
    "wholemsg": "false"
  }
]