Project.Trunk/REST.clients/REST.assembler/src/nodered.flow/light.monitor.json
[
	{
		"id": "9ad33f7c.120eb",
		"type": "tab",
		"label": "Watch the light",
		"disabled": false,
		"info": "Reads a light sensor\nTurns a light on or off\n"
	},
	{
		"id": "46226307.67912c",
		"type": "http request",
		"z": "9ad33f7c.120eb",
		"name": "read ambient light",
		"method": "GET",
		"ret": "obj",
		"url": "http://192.168.42.8:8080/v1/sensors/ambient-light",
		"tls": "",
		"x": 240,
		"y": 160,
		"wires": [
			[
				"98d7405d.1f97",
				"b0eec2d6.bc54c"
			]
		]
	},
	{
		"id": "98d7405d.1f97",
		"type": "debug",
		"z": "9ad33f7c.120eb",
		"name": "Display Ambient Light",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 500,
		"y": 160,
		"wires": []
	},
	{
		"id": "6baad6e6.478108",
		"type": "inject",
		"z": "9ad33f7c.120eb",
		"name": "Loop on request",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "5",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 150,
		"y": 40,
		"wires": [
			[
				"46226307.67912c"
			]
		]
	},
	{
		"id": "b0eec2d6.bc54c",
		"type": "function",
		"z": "9ad33f7c.120eb",
		"name": "evaluate light",
		"func": "// console.log(\"Msg:\", msg);\n\nlet output = {};\noutput.payload = {};\nif (msg.payload !== undefined) {\n    if (msg.payload.light < 60) {\n      output.payload.status = true;    \n    } else {\n      output.payload.status = false;    \n    }\n}\n\noutput.headers = {};\noutput.headers['Content-Type'] = 'application/json';\n\nreturn output;",
		"outputs": 1,
		"noerr": 0,
		"x": 310,
		"y": 280,
		"wires": [
			[
				"b42f0d9.36a83f"
			]
		],
		"inputLabels": [
			"humidity"
		],
		"outputLabels": [
			"pumpStatus"
		]
	},
	{
		"id": "b42f0d9.36a83f",
		"type": "http request",
		"z": "9ad33f7c.120eb",
		"name": "set relay status",
		"method": "PUT",
		"ret": "obj",
		"url": "http://192.168.42.8:8080/v1/sensors/relay",
		"tls": "",
		"x": 440,
		"y": 400,
		"wires": [
			[
				"dafd802f.ef974"
			]
		]
	},
	{
		"id": "dafd802f.ef974",
		"type": "debug",
		"z": "9ad33f7c.120eb",
		"name": "display relay status",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"x": 570,
		"y": 500,
		"wires": []
	}
]
