NMEA.multiplexer/node-red/nodered.json
[
  {
    "id": "b8509f41.85d1d",
    "type": "tab",
    "label": "TCP to WS"
  },
  {
    "id": "a3a98edb.2cafd",
    "type": "tcp in",
    "z": "b8509f41.85d1d",
    "name": "TCP-Listener",
    "server": "client",
    "host": "localhost",
    "port": "7002",
    "datamode": "stream",
    "datatype": "utf8",
    "newline": "",
    "topic": "",
    "base64": false,
    "x": 246,
    "y": 404,
    "wires": [
      [
        "98a3c2ff.3c50a",
        "f86f093.d8e1bf8"
      ]
    ]
  },
  {
    "id": "98a3c2ff.3c50a",
    "type": "websocket out",
    "z": "b8509f41.85d1d",
    "name": "For Pebble",
    "server": "",
    "client": "25a12e54.29d472",
    "x": 580.5,
    "y": 481,
    "wires": []
  },
  {
    "id": "f86f093.d8e1bf8",
    "type": "debug",
    "z": "b8509f41.85d1d",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 460.5,
    "y": 271,
    "wires": []
  },
  {
    "id": "25a12e54.29d472",
    "type": "websocket-client",
    "z": "",
    "path": "ws://localhost:9876",
    "wholemsg": "false"
  }
]