NMEA.multiplexer/node-red/serial-test.json
[
  {
    "id": "dbb3514d.59898",
    "type": "tab",
    "label": "Serial Test"
  },
  {
    "id": "ce7632d1.1ab71",
    "type": "serial in",
    "z": "dbb3514d.59898",
    "name": "",
    "serial": "57ab8902.ba5bd8",
    "x": 112.5,
    "y": 322,
    "wires": [
      [
        "507fe316.1aea9c"
      ]
    ]
  },
  {
    "id": "507fe316.1aea9c",
    "type": "function",
    "z": "dbb3514d.59898",
    "name": "NMEA Parser",
    "func": "// console.log('msg:', msg);\n// Parse here\nif (msg.payload !== undefined) {\n//  console.log(\">>\", msg.payload);\n    var id = msg.payload.substr(1, 5);\n    console.log(\"Sentence>> [\" + id + \"]\");\n} else {\n    console.log(\">> oops <<\");\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 384.5,
    "y": 456,
    "wires": [
      [
        "b08a3d46.671a5"
      ]
    ]
  },
  {
    "id": "b08a3d46.671a5",
    "type": "debug",
    "z": "dbb3514d.59898",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 594.5,
    "y": 347,
    "wires": []
  },
  {
    "id": "57ab8902.ba5bd8",
    "type": "serial-port",
    "z": "",
    "serialport": "/dev/cu.usbserial",
    "serialbaud": "4800",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false
  }
]
